<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cart</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js" integrity="sha384-1CmrxMRARb6aLqgBO7yyAxTOQE2AKb9GfXnEo760AUcUmFx3ibVJJAzGytlQcNXd" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <style type="text/css">
    	.centerdv{
    		margin-top: 5%;
    		margin-left: auto;
    		margin-right: auto;
    		margin-bottom: 10%;
    		text-align: center;
    	}

    	.formcss{

    		margin-top: 5%;
    		margin-left: auto;
    		margin-right: auto;
    		margin-bottom: 5%;
    		text-align: center;
    		width: 80%;
    	}
    </style>

</head>
<body>

	<div class="centerdv jumbotron container">
		<h2> {{survey.title}} </h2>
	</div>
    <form action={%'fill-survey'%} method="POST">
            {% csrf_token %}
        <input type="hidden" name="survey_id" value={{survey.id}}>

        {% for question in questions %}
            <div class="container centerdv">
                <div class="well centerdv">
                    <b>{{question.question_text}}</b>
                </div>

             {% for choice in questions.choice_set.all %}
                <label class="radio inline">
                    <input type="radio" name="question{{question.id}}" value={{choice.id}}>
                    {{choice.choice_text}}
                </label>
             {% endfor %}

            </div>
        {% endfor %}

        <input type="submit" value="Complete" class="btn btn-success btn-lg">
    </form>

</body>
</html>